#header {
    -fx-max-height: 100px;
    -fx-background-color: #090909;
}

#header .Label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 22;
    -fx-text-fill: #f4f4f4;
}

#header .ImageView {
    -fx-start-margin: "10q";
}

#searchField {
    -fx-font-size: 22;
    -fx-font-weight: 400;
    -fx-font-family: SansSerif;
    -fx-background-radius: 5;
    -fx-prompt-text-fill: #6d6d67;
    -fx-padding: 8;
}

.searchField {
    -fx-background-color: #242424;
    -fx-text-fill: #fffff8;
}

.searchFieldFocused {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #200400;
}